<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jj.schramm@t-online.de">email</a></li>
	        		<li><a href="https://github.com/jajoschjs">github.com/jajoschjs</a></li>
				</ul>
			</footer>
		</body>
	</html>